@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5EFE6 ;
}

main{
    display: grid;
    grid-template-rows: auto auto;
}

header {
    text-align: center;
    background-color: #E8DFCA;
}

article {
    padding: 60px;
    text-align: center;
}

section{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    padding: 10px;
}

a{
    text-decoration: none;
}

.btn1 {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #25a86f;
  border-radius: 0.6em;
  color: #595959;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn1:hover, .btn1:focus {
  color: whitesmoke;
  outline: 0;
}
.first1 {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 60px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first1:hover {
  box-shadow: 0 0 40px 40px #25a86f inset;
}

.btn2{
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #385A64;
  border-radius: 0.6em;
  color: #595959;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn2:hover, .btn2:focus {
  color: whitesmoke;
  outline: 0;
}
.first2 {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 50px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first2:hover {
  box-shadow: 0 0 40px 40px #385A64 inset;
}

.btn3{
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #ff735c;
  border-radius: 0.6em;
  color: #595959;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn3:hover, .btn2:focus {
  color: whitesmoke;
  outline: 0;
}
.first3 {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 50px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first3:hover {
  box-shadow: 0 0 40px 40px #ff735c inset;
}