@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.938rem;
    color: black;
    background-color: #385A64;
}

.eye {
	cursor: pointer;
	font-size: 24px;
    margin-top: 15px;
    margin-left: 20px;
    item-align: left;
}

.login .login_container .login_forms label {
    color: #385A64;
    font-weight: bold;
    bottom: 10px;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.login {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.login_container {
    display: grid;
}
.login_img {
    justify-self: center;
}
.login_img img {
    width: 280px;
    margin-top: 3.5rem;
    border-radius: 30%;
}
.login_forms {
    position: relative;
    height: 368px;
}
.login_register {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-name: animateLogin;
            animation-name: animateLogin;
}
.login_title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: black;
    text-align: center;
}
.login_box {
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    -moz-column-gap: 0.5rem;
        column-gap: 0.5rem;
    padding: 1.125rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
.login_icon {
    font-size: 1.5rem;
    color: #385A64;
}
.login_input {
    border: none;
    outline: none;
    font-size: 0.938rem;
    font-weight: 700;
    color: black;
    width: 100%;
}
.login_input::-moz-placeholder {
    font-size: 0.938rem;
    font-family: "Open Sans", sans-serif;
    color: #a49eac;
}
.login_input:-ms-input-placeholder {
    font-size: 0.938rem;
    font-family: "Open Sans", sans-serif;
    color: #a49eac;
}
.login_input::placeholder {
    font-size: 0.938rem;
    font-family: "Open Sans", sans-serif;
    color: #a49eac;
}
.login_button {
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #385A64;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.login_button:hover {
    background-color: rgb(87, 117, 126);
}

.block {
    display: block;
}

.none {
    display: none;
}

@-webkit-keyframes animateLogin {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes animateLogin {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
@media screen and (min-width: 576px) {
    .login_forms {
        width: 348px;
        justify-self: center;
    }
}
@media screen and (min-width: 1024px) {
    .login {
        height: 100vh;
        overflow: hidden;
    }
    .login_container {
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
    .login_img {
        display: flex;
        width: 600px;
        border-radius: 1rem;
        padding-left: 1rem;
    }
    .login_img img {
        width: 70%;
        margin-top: 15px;
        padding: 40px 40px 0 0;
        border-radius: 30%;
    }
    .login_register {
        left: -11rem;
    }
    .login_register {
        bottom: -2rem;
    }
}